@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Karla');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #ededed;
  }
}

.irish-grover-regular {
  font-family: "Irish Grover";
  font-weight: 400;
  font-style: normal;
}

.kufam {
  font-family: "Kufam";
  font-weight: 400;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, irish-Grover;
}
