@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Maven+Pro:wght@400&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root { 
  --background: #C6C7C0;
  --text-color: #28251F;
} 

.dark { 
  --background: #131313;
  --text-color: #FFFFFF;
}

.irish-grover-regular {
  font-family: "Irish Grover";
  font-weight: 400;
  font-style: normal;
}

.maven-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Irish Grover", Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}